:root{
    --Blue:#aafbdc;
    --ligherblue:#c0ffee;
    --white: #ffff;
    --background:#33393f;
}

body{
    background-color: var(--background);
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
   
    
}

/*This is the header and its styles*/
header {
    background-color: var(--Blue);
    text-align: end;
    padding:20px 0;
    position: fixed;
    width: 100%;
    
    
}

li {
   display: inline; 
   margin-left: 1%;
   font-size: x-large;
   

}
header a { 
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    color: var(--background);
    font-weight: bold;
}
/*The header styles end here*/


main{
    display:flex;
    padding-top: 100px;
    padding-bottom: 100px;

}

section{
    
    padding:20px;
}

.foto{
    margin: 50px;
    
}
aside{
    justify-content: center;
}

section h1 {
    font-size: 400%;
    color: #ffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

section h2{
    font-size: 300% ;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffff;

}

section p{
    font-size: 250%;
    margin-top: 20px;
    margin-bottom: 20px;
   
    
    color: #ffff;
}

section img{
   float: right;

}

footer {
    background-color: var(--Blue);
    text-align: start;
    padding:1px 0 ;
    position: fixed;
    width: 100%;
    bottom:0;
    display:inline;
    
    
    
}

footer h3{ 
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    color: var(--background);
   display: inline;

    font-size: x-large;
}

footer h3 li a{
    display: inline-block;
}

footer a {
    text-decoration: none;
color:var(--background);
margin:5px;
padding:5px;
display: inline-block;
font-size: x-large;
font-weight: bold;

}

figure{
    padding-bottom: 100px;
    display:flex;
    flex-wrap: wrap;
}

.Box{
    background-color: var(--Blue);
    margin:10px;
    padding: 10px;
   
    /*display:flex;
    flex-wrap: wrap;*/

}

figure p{
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}



@media screen and (max-width: 655px) {
    main{ 

        flex-wrap: wrap;
        padding-top: 1px;
    }

    aside{
        margin: 33%;
    }

   
}

@media screen and (max-width: 1072px){


}
